* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
   background-color: #f9f9f9 !important;
}

img {
  width: 100%;
  height: 100%;
}
 
ul {
  list-style-type: none;
}

.content {
  max-width: 1280px;
  margin: 0 auto;
}

.welcomeText {
  margin-right: 20vh;
}

.cardText {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 40vh;
  margin-right: 40vh;
}

.cardText img {
  width: 400px;
  height: 200px;
  object-fit: cover;
}